  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <br>
      <h4>Melhor Idade SA</h4>
      <p><img src="http://www.dreamtemplate.com/blog/wp-content/uploads/2010/12/Chris-Jennings.jpg" alt=""></p>

      <h2><i class="fa fa-exclamation-triangle" style="color:red"></i>
     
      Page not found <small>404 error</small></h2>
      <p>Well, this is embarrassing.</p>

      <p><a href="/">Click here</a> to visit our home page</p>

    </div>
</div>