<link rel="stylesheet" href="/assets/css/style.css" />
   

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-12 text-center">
        <h1>Goku</h1>
        <img src="/assets/imgs/goku.png" alt="Goku" class="img-circle img-responsive">
        <p>Dragon Ball Z</p>
    </div>
    
    <div class="col-md-6 col-sm-12 col-xs-6 col-lg-12 text-center">
        <h1>Teste</h1>
        <p>.col-md-6</p>
    </div>
</div>

<script src="/assets/js/app.min.js"></script>